main-header {
  padding: 0rem;
  display: flex;
  color: #ffffff;
  background: #0288d1;
  box-shadow: 0 4px 3px rgba(1, 87, 155, 0.5);
  align-items: center;
}

.app-container {
  position: relative;
  background-color: #f8f8f8;
  border-color: var(--primary-color-dark);
  border-width: 10px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 4px;
}
