/*
:root {
  --primary-color: #95deda;
  --primary-color-dark: blue;
  --contrast-color-light: #e6dfc6;

  --background-color: #fff;
  --background-color-lighter: #323232;
  --font-color: #14171a;

  --header-height: 2.25rem;
  --header-font-color: #fff;

  --section-height: calc(100vh - var(--header-height));

  --font-size-xxx-small: 0.625em;
  --font-size-xx-small: 0.75em;
  --font-size-x-small: 0.8125em;
  --font-size-small: 0.875em;
  --font-size: 1em;
  --font-size-large: 1.125em;
  --font-size-x-large: 1.25em;
  --font-size-xx-large: 1.5em;
  --font-size-xxx-large: 1.75em;
  --font-size-xxxx-large: 2em;

  --spacing-x-small: 0.5em;
  --spacing-small: 0.625em;
  --spacing-medium: 1em;
  --spacing-large: 1.5em;
  --spacing-x-large: 2em;

  --slds-c-button-text-color: var(--primary-color-dark, var(--primary-color, #2c4049));
  --slds-c-button-color-border: var(--primary-color-dark, var(--primary-color, #2c4049));
  --slds-c-button-color-background: var(--background-color, var(--primary-color, #2c4049));
  --slds-c-button-brand-color-border: var(--primary-color-dark, var(--primary-color, #2c4049));

  --sds-c-card-heading-font-size: 0.85rem;
}
*/

body,
html {
  /* Bootstrap override */
  --bs-body-font-size: 0.8125em;

  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Jost, "Poppins", sans-serif;
  color: var(--font-color);
  font-size: var(--font-size);

  /* PWA Fixes */
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;

  /* In some weird scenarios body will get stuck on the bottom screen in PWA format scroll is set in app */
  /*overflow: hidden;*/

  --primary-color: #95deda;
  --primary-color-dark: blue;
  --contrast-color-light: #e6dfc6;

  --background-color: #fff;
  --background-color-lighter: #323232;
  --font-color: #14171a;

  --header-height: 2.25rem;
  --header-font-color: #fff;

  --section-height: calc(100vh - var(--header-height));

  --font-size-xxx-small: 0.625em;
  --font-size-xx-small: 0.75em;
  --font-size-x-small: 0.8125em;
  --font-size-small: 0.875em;
  --font-size: 1em;
  --font-size-large: 1.125em;
  --font-size-x-large: 1.25em;
  --font-size-xx-large: 1.5em;
  --font-size-xxx-large: 1.75em;
  --font-size-xxxx-large: 2em;

  --spacing-x-small: 0.5em;
  --spacing-small: 0.625em;
  --spacing-medium: 1em;
  --spacing-large: 1.5em;
  --spacing-x-large: 2em;

  /*
  --slds-c-button-text-color: var(--primary-color-dark, var(--primary-color, #2c4049));
  --slds-c-button-color-border: var(--primary-color-dark, var(--primary-color, #2c4049));
  --slds-c-button-color-background: var(--background-color, var(--primary-color, #2c4049));
  --slds-c-button-brand-color-border: var(--primary-color-dark, var(--primary-color, #2c4049));

  --sds-c-card-heading-font-size: 0.85rem;
  */
}




.slds-radio {
  font-size: var(--font-size);
}


.slds-form-element__helper {
  font-size: var(--font-size-small);
}

.slds-form-element__static {
  font-size: var(--font-size);
}

.slds-color-picker__input-custom-hex {
  font-size: var(--font-size-small);
}

input {
  font-size: var(--font-size-small);
}

.slds-input[readonly] {
  font-size: var(--font-size);
}

.slds-timeline__date {
  font-size: var(--font-size-small);
}

.slds-form-error {
  padding-top: var(--spacing-x-small);
  font-size: var(--font-size-small);
}

.slds-color-picker {
  padding-top: var(--spacing-x-small);
  font-size: var(--font-size-small);
}

.slds-accordion__summary-heading {
  font-size: var(--font-size-large);
}

.slds-dynamic-menu__header {
  font-size: var(--font-size);
}

.slds-carousel__content-title {
  font-size: var(--font-size-large);
}

.slds-card__header-title {
  font-size: var(--font-size-large);
}

.slds-card__footer {
  font-size: var(--font-size);
}

.slds-chat-message__text {
  font-size: var(--font-size);
}

.slds-chat-message__meta {
  font-size: var(--font-size-x-small);
}

.slds-chat-message__action {
  font-size: var(--font-size-small);
}

.slds-chat-event {
  font-size: var(--font-size);
}

.slds-chat-event__agent-message {
  font-size: var(--font-size-small);
}

.slds-chat-bookend {
  font-size: var(--font-size);
}

.slds-radio {
  font-size: var(--font-size);
}

.slds-checkbox {
  font-size: var(--font-size);
}

.slds-checkbox_stacked {
  font-size: var(--font-size);
}

.slds-checkbox {
  font-size: var(--font-size);
}

.slds-checkbox__label {
  font-size: var(--font-size);
}

.slds-form-element__label {
  font-size: var(--font-size);
}

.slds-radio .slds-form-element__label {
  font-size: var(--font-size);
}

.slds-dropdown .slds-dropdown__item {
  font-size: var(--font-size-large);
}

.slds-dropdown__list {
  font-size: var(--font-size-x-large);
}

.unsupported {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.unsupported_title,
.unsupported_message {
  padding: 0 var(--spacing-medium);
  text-align: center;
}

.unsupported_title {
  padding-bottom: var(--spacing-medium);

  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  text-transform: uppercase;

  color: var(--primary-color);
}

.unsupported_message {
  opacity: 0.7;
}

.page-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: auto;
}

.body-content-wrapper {
  margin-top: var(--header-height);
  flex-grow: 1;
}

main-header,
.body-content-wrapper,
main-footer {
  width: 100%;
  flex-shrink: 0;
}

/* Override the <ul> margins defined widely in bootstrap.min.css, which cannot be overriden locally in each Rapido component */
lightning-tabset .slds-tabs_scoped__nav {
  margin-bottom: 0;
  padding-left: 0;
}